* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 24px
}

body {
    background-color: #2c364a;
    color: white;
    font-family: monospace;
    min-height: fit-content
}

input[type="text"] {
    height: 100%;
    width: 50%;
    font-size: 24px;
    font-family: monospace;
    margin-top: 10px;
    text-align: center;
}

input[type="password"] {
    height: 100%;
    width: 50%;
    font-size: 24px;
    margin-top: 10px;
    text-align: center;
}

.header-text {
    color: white;
    font-size: 36px;
    font-weight: bold;
}

.join-form {
    background: #2c364a;
    width: 100vw;
    height: 100vh;   
    display: flex;
    justify-content: center;
    align-items: center;
}

.join-form-box {
    box-shadow: 0px 5px 17px 1px #1D1F26;
    background: #424e7d;
    width: 50%;
    height: 70%;
    text-align: center;
    padding-top: 2%;
}

.join-form-text {
    font-size: 24px;
}

.index-button {
    margin-top: 5%;
    border: none;
    width: 200px;
    height: 50px;
    background-color: #657ba8;
    color:white;
    font-size: 24px;
    font-family: monospace;
}


#chat-sidebar {
    float: left;
    height: 100%; 
    width: 20%;
    position: fixed; 
    z-index: 1; 
    top: 0; 
    left: 0;
    background-color: #515b75; 
    overflow-x: hidden;
    overflow-y: auto;
  }

.message-side {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 80%;
    height: 100%;
}

#message-form {
    margin-bottom: 1%;
    margin-top: 2%;
    height: 54px;
    position: absolute;
    bottom: 0;
    width: 100%;
    box-shadow: 5px 5px 5px 5px #1D1F26;
}

#message-input{
    width: 80%;
    height: 100%;
    outline: none;
    font-size: 24px;
    font-family: monospace;
    padding-left: 10px;
    background-color: #242b3d;
    color: white;
    margin-left: 2%;
}

#send-button {
    width: 10%;
    height: 100%;
    font-size: 24px;
    background-color: #566282;
    color: white;
    border: none;
    margin-left: 3%;
}

.chat {
    font-size: 24px;
}


.message-name {
    font-size: 20px;
    font-weight: bold;
    color: #c7d3eb
}

.message-text {
    background-color: #515b75;
    width: fit-content;
}

.message-time {
    font-size: 16px;
    color: #afb9cc
}

.room-name-div {
    box-shadow: 3px 3px 10px 5px #1D1F26;
    height: 25%;
    width: 100%;
    margin-bottom: 10%;
    padding-top: 10%;
    text-align: center;
    background-color: #424e7d;
}

.list-title {
    text-align: center;
}

.users {
    text-align: center;
    margin-top: 5%;
}

/* scrollbar customization */

/* width */
::-webkit-scrollbar {
    width: 15px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: rgb(82, 113, 216);
    border-radius: 10px;
  }

/* message display design */

#messages {
    display: flex;
    flex-direction: column;
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
    margin-right: 2%;
    padding-right: 1%;
    padding-left: 1%;
    padding-bottom: 1%;
    padding-top: 1%;
    overflow-x: hidden;
    overflow-wrap: break-word;
    overflow-y: auto;
    height: 85%;
    box-shadow: 3px 3px 10px 5px #81879e;
}


.chat-message-others {
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    padding-right: 2%; 
    margin-bottom: 1%;   
}

#highlighted-others {
    width: fit-content;
    height: fit-content;
    max-width: 70%;
    background: rgb(84, 78, 165);
    border-style: none;
    border-width: 3px;
    border-radius: 25px;
}


.chat-message-self {
    margin-left: auto;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    padding-left: 2%;
    padding-right: 2%; 
    margin-bottom: 1%;     
}

#highlighted-self {
    width: fit-content;
    height: fit-content;
    max-width: 70%;
    background: rgb(78, 113, 165);
    border-style: none;
    border-width: 3px;
    border-radius: 25px;
}

/* create page styles */
.create-outer {
    display: flex;
    width: 100vw;
    height: 100vh; 
}

.create-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-color: #424e7d;
    box-shadow: 0px 5px 17px 1px #1D1F26;
    margin: auto;
    width: 100vh;
    height: 80vh;
    padding-top: 3%;
    padding-bottom: 5%;
}

.cr {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 10px;
    height: 36px;
}

.cr-dropdown {
    width: 50%;
    height: 100%;
    font-size: 24px;
    font-family: monospace;
    text-align-last: center;
    margin-top: 10px;
}

.cr-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}